.sprite {
    background: url(../img/sprite.png) no-repeat;
}

.sprite-camera-png {
    width: 32px;
    height: 32px;
    background-position: -33px -0px;
}

.sprite-cloud1-png {
    width: 32px;
    height: 32px;
    background-position: -33px -99px;
}

.sprite-cloud2-png {
    width: 32px;
    height: 32px;
    background-position: -66px -0px;
}

.sprite-cloud3-png {
    width: 32px;
    height: 32px;
    background-position: -99px -0px;
}

.sprite-cloud4-png {
    width: 32px;
    height: 32px;
    background-position: -132px -0px;
}

.sprite-config-png {
    width: 32px;
    height: 32px;
    background-position: -0px -33px;
}

.sprite-date-png {
    width: 32px;
    height: 32px;
    background-position: -33px -33px;
}

.sprite-file1-png {
    width: 32px;
    height: 32px;
    background-position: -66px -33px;
}

.sprite-file2-png {
    width: 32px;
    height: 32px;
    background-position: -99px -33px;
}

.sprite-file3-png {
    width: 32px;
    height: 32px;
    background-position: -132px -33px;
}

.sprite-file4-png {
    width: 32px;
    height: 32px;
    background-position: -0px -66px;
}

.sprite-gamepad-png {
    width: 32px;
    height: 32px;
    background-position: -33px -66px;
}

.sprite-garbage-png {
    width: 32px;
    height: 32px;
    background-position: -66px -66px;
}

.sprite-gift-png {
    width: 32px;
    height: 32px;
    background-position: -99px -66px;
}

.sprite-help-png {
    width: 32px;
    height: 32px;
    background-position: -132px -66px;
}

.sprite-letters-png {
    width: 32px;
    height: 32px;
    background-position: -0px -99px;
}

.sprite-lock-png {
    width: 32px;
    height: 32px;
    background-position: -0px -0px;
}

.sprite-love-png {
    width: 32px;
    height: 32px;
    background-position: -66px -99px;
}

.sprite-mail-png {
    width: 32px;
    height: 32px;
    background-position: -99px -99px;
}

.sprite-monitor-png {
    width: 32px;
    height: 32px;
    background-position: -132px -99px;
}

.sprite-notepad-png {
    width: 32px;
    height: 32px;
    background-position: -0px -132px;
}

.sprite-ok-png {
    width: 32px;
    height: 32px;
    background-position: -33px -132px;
}

.sprite-openmail-png {
    width: 32px;
    height: 32px;
    background-position: -66px -132px;
}

.sprite-phone-png {
    width: 32px;
    height: 32px;
    background-position: -99px -132px;
}

.sprite-picture-png {
    width: 32px;
    height: 32px;
    background-position: -132px -132px;
}

.sprite-pin-png {
    width: 32px;
    height: 32px;
    background-position: -165px -0px;
}

.sprite-sound-png {
    width: 32px;
    height: 32px;
    background-position: -165px -33px;
}

.sprite-suitcase-png {
    width: 32px;
    height: 32px;
    background-position: -165px -66px;
}

.sprite-tool-png {
    width: 32px;
    height: 32px;
    background-position: -165px -99px;
}

.sprite-unlock-png {
    width: 32px;
    height: 32px;
    background-position: -165px -132px;
}

.sprite-wallet-png {
    width: 32px;
    height: 32px;
    background-position: -0px -165px;
}

.sprite-zoom-png {
    width: 32px;
    height: 32px;
    background-position: -33px -165px;
}
