<div class="toolbar btn-toolbar">
	<div class="btn-group">
		<a href="http://draeton.github.io/stitches/" class="btn btn-small btn-link">
			<strong>Stitches</strong>
		</a>
		<button data-action="open" class="btn btn-small btn-info files" title="Open">
			<i class="glyphicon glyphicon-folder-open glyphicon-white"></i><span class="hidden-phone">Open</span><input class="file" type="file" multiple="multiple">
		</button>
		<button data-action="settings" class="btn btn-small btn-info" title="Set layout, style prefix, padding, etc.">
			<i class="glyphicon glyphicon-cog glyphicon-white"></i><span class="hidden-phone">Settings</span>
		</button>
		<button data-action="clear" class="btn btn-small btn-info disabled" title="Clear sprites from the canvas">
			<i class="glyphicon glyphicon-remove glyphicon-white"></i><span class="hidden-phone">Clear</span>
		</button>
	</div>
	<div class="btn-group">
		<button data-action="downloads" class="btn btn-small btn-success disabled" title="Get the generated sprite sheet and stylesheet">
			<i class="glyphicon glyphicon-download-alt glyphicon-white"></i><span class="hidden-phone">Downloads</span>
		</button>
	</div>
	<div class="btn-group">
		<button data-action="about" class="btn btn-small btn-info" title="About Stitches">
			<i class="glyphicon glyphicon-info-sign glyphicon-white"></i><span class="hidden-phone">About</span>
		</button>
	</div>
</div>