<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="Stitches - An HTML5 sprite generator">
  <meta name="author" content="Matthew Cobbs">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS: implied media=all -->
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- end CSS-->

  <script src="/js/libs/modernizr-2.0.6.min.js"></script>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
</head>

<body>

<div class="site">

    <header>
        <a href="/">Matthew Cobbs</a>
        <a class="extra" href="/">home</a>

        <h1>{{ page.title }}</h1>
    </header>

    <section id="main" role="main">

        {{ content }}

    </section>

    <footer>
        <div class="contact">
            <p>
                Matthew Cobbs<br />
                Detroit Web Developer<br />
                [matthew.cobbs@gmail.com](matthew.cobbs@gmail.com)
            </p>
        </div>
        <div class="contact">
            <p>
                <a href="http://github.com/draeton/">github.com/draeton</a><br />
                <a href="http://twitter.com/draeton/">twitter.com/draeton</a>
            </p>
        </div>
    </footer>

</div> <!--! end of .site -->

<a href="https://github.com/draeton/Stitches/">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67%22%20alt=%22Fork%20me%20on%20GitHub" alt="Fork me on GitHub" /></a>

<script>
window._gaq = [
    ['_setAccount','UA-16683389-1'],
    ['_trackPageview'],
    ['_trackPageLoadTime']
];
Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
});
</script>

<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>