<!-- templates -->
<script type="text/html" id="stitches_tmpl">
    <div class="stitches">
        <div class="dropbox">
            <span class="droplabel">Drop images here...</span>
            <ul class="filelist"></ul>
        </div>
        <div class="buttons">
            <a href="javascript:void(0)" class="generate disabled">Generate</a>
            <a href="javascript:void(0)" class="dlsprite disabled" target=_blank>Sprite &raquo;</a>
            <a href="javascript:void(0)" class="dlstylesheet disabled" target=_blank>Stylesheet &raquo;</a>
            <a href="javascript:void(0)" class="clear disabled">Clear Images</a>
        </div>
    </div>
</script>

<script type="text/html" id="stitches_icon_tmpl">
    <li>
        <span class="icon"><img src="<%=image.src%>" alt="<%=name%>" /></span>
        <span class="name"><%= name %></span>
        <a href="javascript:void(0)" class="remove">remove</a>
    </li>
</script>

<script type="text/html" id="stitches_style_tmpl">
.sprite-<%= name %> {
    width: <%= width %>px;
    height: <%= height %>px;
    background-position: -<%= x %>px -<%= y %>px;
}

</script>